<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344342511386-70psdsetjh5br4g71a02ih28vcdthbpo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344342511386-70psdsetjh5br4g71a02ih28vcdthbpo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>344342511386-4a7sel6nd08816t0p10ob4bl3j8l948l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-f3TR7pKBdHasJX3uf5strhOsgsnHIYM</string>
	<key>GCM_SENDER_ID</key>
	<string>344342511386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartroombooking.smartroombooking</string>
	<key>PROJECT_ID</key>
	<string>smartroombookingdev</string>
	<key>STORAGE_BUCKET</key>
	<string>smartroombookingdev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344342511386:ios:6564460d53fa5ff0cc76a3</string>
</dict>
</plist>