<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657942090927-lijtdsikh85p4111je3gebkh053fp42q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657942090927-lijtdsikh85p4111je3gebkh053fp42q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>657942090927-tesqkqe8csirhl7s40ofpb1g9l55p6fc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCktayhvUUwyxhS4xT4T6mdI1D-1cwB17E</string>
	<key>GCM_SENDER_ID</key>
	<string>657942090927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartroombooking.biher</string>
	<key>PROJECT_ID</key>
	<string>smartroombookingbiher-a09e4</string>
	<key>STORAGE_BUCKET</key>
	<string>smartroombookingbiher-a09e4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657942090927:ios:fb7fce0a7849155d72305a</string>
</dict>
</plist>